[submodule "src/unitree_ros"]
	path = src/unitree_ros
	url = https://github.com/unitreerobotics/unitree_ros
[submodule "src/unitree_ros_to_real"]
	path = src/unitree_ros_to_real
	url = https://github.com/unitreerobotics/unitree_ros_to_real
[submodule "src/unitree_legged_sdk"]
	path = src/unitree_legged_sdk
	url = https://github.com/unitreerobotics/unitree_legged_sdk.git
